.forgot-password {
    display: flex;
    flex-direction: column;
}
.forgot-password-splash {
    width: 300px;
    padding: 20px 30px;
    margin-bottom: 20px;
    background: #fff;
    border-radius: 5px;
    box-shadow: 1px 0 5px rgba(0,0,0,0.2);
}
.forgot-password-splash p {
    margin: 0;
    text-align: center;
}
.lost-password-error {
    text-align: center;
    color: red;
}